<div class="container col-5">
  <h3 class="my-5">@Input</h3>
  
    <ol class="list-group list-group-numbered">
      <li class="list-group-item"><span class="badge bg-primary">{{ primerMensaje }}</span></li>
      <li class="list-group-item"><span class="badge bg-primary">{{ segundoMensaje }}</span></li>
      <li class="list-group-item"><span class="badge bg-primary">{{ tercerMensaje }}</span></li>
      <li class="list-group-item"><span class="badge bg-primary">{{ cuartoMensaje }}</span></li>
      <li class="list-group-item"><span class="badge bg-primary">{{ quintoMensaje }}</span></li>
    </ol>

</div>